html, body {
    margin: 0;
    padding: 0;
    width : 1260px;
    /* overflow-y: hidden; */
    scrollbar-width: none;
}

.app {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 0px;
}
.header {
    display : flex;
    justify-content : space-between;
    align-items: center;
    border : 1px solid black;
    position: sticky !important;
    top: 0px !important;
    background-color: rgb(232, 160, 27);
    color:white;
    width: 1260px;
    margin-top: 0px;
    box-sizing: border-box;
 
}
.header:hover {
    box-shadow: 2px 2px 5px gray;
}
.nav-items > ul {
    display : flex;
    gap : 20px;
    list-style-type : none;
    padding: 4px;;
}  

.nav-items > ul > li {
    padding : 4px 8px;
    border-radius : 4px;
}

.nav-items > ul > li:hover {
    background-color: rgb(247, 34, 19);
    cursor : pointer;
    border : 1px solid gray;
    color : white;
}

.user-icon {
    cursor: pointer;
    border-radius: 4px;

}
.user-icon:hover {
    background-color: aliceblue;
    cursor : pointer;
    border : 1px solid gray;
    padding: 4px;
}

.search {
    padding: 4px;
    display : flex;
    gap : 8px;
    }

.search-input {
    width : 300px;
    padding : 8px;
    border-radius : 4px;
    border : 1px solid gray;
}

.search-btn {
    padding : 8px 16px;
    border-radius : 4px;
    border : 1px solid gray;
    background-color : orange;


    cursor : pointer;
}


.restaurant-container {
    display: flex;
    border : 1px solid gray;
    border-radius : 8px;
    margin: 6px;
    box-shadow: 2px 2px 5px lightgray;
    flex-wrap: wrap;
    background-color: rgb(187, 196, 169);
}

.restaurant-card {
    border : 1px solid gray;
    border-radius : 6px;
    width :200px;
    margin : 15px;
    background-color: rgb(225, 178, 113);
    padding : 4px;
    
}
.restaurant-card:hover {
    box-shadow: 4px 4px 5px gray;
    cursor: pointer;
}

.restaurant-img
{
    height: 30px;
    border-radius: 12px;
}

.restaurant-image-placeholder {
    height: 120px;
    width: 200px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom : 4px;
}
.rest-name {
    background-color: rgb(255, 81, 0);
    color : white;
    padding : 2px;
    border : 1px solid gray;
    border-radius: 12px;
    height : 40px;
    font-size : 16px;
    margin-top : 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-btn {
    padding : 8px 16px;
    border-radius : 8px;
    border : none;
    background-color : green;
    color : white;
    cursor : pointer;
    align-items: center;
    left : 20px;
}

.explore-btn-div {
    display : flex;
    justify-content : center;
    margin-top : 10px;
    margin-bottom : 10px;
}
.body {
    margin-top: 0px;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.cuisines {
    font-size: 12px;
    color: whitesmoke;
    height : 40px;
    margin-bottom: 14px;
    font-style: oblique;
}

p {
    font-size: 12px;
    margin: 4px 0px;
    padding : 2px 4px;
}

.delivery-rating {
    display: flex;
    gap : 10px;

}
.delivery {
    font-size: 14px;
}
.rating {
    font-size: 14px;
}

.shimmer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;
}

.shimmer-card {
    width: 200px;
    height: 250px;
    background-color: #f0f0f0;
    background-image: linear-gradient(90deg, #f0f0f0 0px, #edeef1 40px, #f6f7f8 80px);
    background-size: 600px;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
    margin: 10px;
}